* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #191919;
    color: #fff;
}



.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 26px 0;
    padding: 0 70px;
    min-width: 1300px;

}

.logo {
    max-height: 33px;
    max-width: 160px;
}

.navigation {
    font-size: 17px;
    line-height: 1.58824;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

a {
    text-decoration: none;
    color: #fff;

}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 70px;
    min-width: 1300px;
    position: relative;
}

.image {
     border-radius: 12px;
     max-height: 873px;
 }
.text-icons-wrapper{
    padding: 314px 64px 130px 60px;
}

h1 {
    font-size: 70px;
    letter-spacing: 0.05em;
    line-height: 1.17333;
    font-weight: 400;
}

.level {
    font-weight: 700;
    font-size: 80px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #fff;
}

.listen{
    padding-top: 90px;
}

ul {
    margin: 16px 0;
    list-style-type: none;
    display: flex;
    gap: 17px;
}

.text-button-wrapper {
    padding: 100px 70px 40px 70px;
    display: flex;
    justify-content: space-between;
    min-width: 1300px;
}

h2 {
    font-weight: 400;
    font-size: 64px;
    line-height: 1.2375;
    letter-spacing: 0.05em;
    color: #fff;
    margin-bottom: 26px;
}

button {
    height: 51px;
    border-radius: 6px;
    background: #118da8;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #fff;
    padding: 12px 20px;
    display: flex;
    align-self: center;
    transition: 0.2s;
}

.card {
    padding: 0 70px 160px 70px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    min-width: 1300px;
}

.card-wrapper {
    background: #000;
    border-radius: 32px;
    padding: 40px 40px;
    display: flex;
    gap: 53px;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.info-wrapper h3 {
    width: 100%;
    max-width: 676px;
}

.info-wrapper span {
    border-radius: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    background-color: #191919;
    padding: 0 16px;
}

small {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #118da8;
}

h3 {
    font-weight: 400;
    font-size: 64px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #fff;
}

p {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
}

.info-wrapper button {
    display: flex;
    align-self: flex-start;
}

.author-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 70px;
    min-width: 1300px;
}

.author-text-wrapper {
    display: flex;
    flex-direction: column;
    padding: 148px 60px 147px 0;
}


.arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 112px;
    border-radius: 400px;
    background: #118da8;
    text-decoration: none;
    transition: 0.2s;
}

.arrow img{
    width: 108px;
    height: 64px;
}

.author-text-wrapper span{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #118da8;
    padding-top: 20px;
}

.author-text-wrapper p {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
}

.author-wrapper h3 {
    padding-bottom: 28px;
}

.paragraph {
    padding-bottom: 33px;
}

.author-wrapper .author {
    border-radius: 12px;
    max-width: 650px;
}

.form-text-wrapper {
    background-color: #000;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    margin: 100px 70px 100px 70px;
    min-width: 1300px;
    position: relative;
}

.form-text-wrapper span {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #118da8;
}

.form-text-wrapper h3 {
    font-weight: 400;
    font-size: 72px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #fff;
}

.text-wrapper {
    margin-bottom: 57px;
    padding: 59px 151px 86px 60px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 60px 60px 75px 76px;
    gap: 20px;
}

input {
    background-color: #191919;
    border: 1px solid #191919;
    border-radius: 6px;
    min-width: 522px;
    min-height: 82px;
    display: flex;
    align-self: stretch;
}

::placeholder{
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.7);
    padding: 26px 0 27px 19px;
}

.form-text-wrapper button{
    display: flex;
    align-self: flex-start;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.92;
    color: rgba(255, 255, 255, 0.7);
}

.blocks-wrap {
    margin: 100px 70px;
    display: flex;
    flex-wrap: wrap;
    min-width: 1300px;
    gap: 15px;
}

.label{
    background: #000;
    border-radius: 32px;
    max-width: 423px;
    max-height: 321px;
    padding: 54px 50px 51px 50px;
}

.label h4{
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
    padding-top: 21px;
}

.label p{
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 19px;
}

.footer-wrapper nav ul{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 0;

}

.footer-wrapper nav{
    min-width: 179px;
    display: flex;
    justify-content: flex-start;
}

.footer-wrapper{
    display: flex;
    min-width: 1300px;
    padding: 100px 70px;
    gap: 16px;
}

.logo-social{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 447px;
}

.footer-wrapper ul{
    margin-top: 0;
    display: flex;
    gap: 17px;
}

.nav a:hover {
    text-decoration: none;
    color: #118da8;
    transition: color 0.6s;
    cursor: pointer;
}

.nav a {
    transition: 0.2s;
}

.footer-wrapper ul li img:hover, .listen ul li img:hover, .logo-social ul li img:hover{
    transform: translateY(-5px);
    transition: transform 0.6s;
    cursor: pointer;
}

.footer-wrapper ul li img, .listen ul li img, .logo-social ul li img:hover {
    transition: 0.2s;
}

button:hover {
    background: none;
    border: 2px solid #118da8;
    border-radius: 6px;
    transition: background 0.6s;
    cursor: pointer;
}

.arrow:hover {
    transform: rotate(90deg);
    transition: transform 0.6s;
    cursor: pointer;
}

input:focus {
    outline: 1px solid #454444;
    cursor: pointer;
}

.hero::before{
    content: "";
    display: inline-block;
    width: 68px;
    height: 74px;
    background-image: url(img/pseudo-hero.png);
    background-size: cover;
    position: absolute;
    top: 14px;
    right: 1313px;
}

h1{
    position: relative;

}

h1::after{
    content: "";
    display: inline-block;
    width: 160px;
    height: 104px;
    background-image: url(img/line.png);
    background-size: cover;
    position: absolute;
    top: 164px;
    right: 351px;
}

.form-text-wrapper::before{
    content: "";
    display: inline-block;
    width: 147px;
    height: 91px;
    background-image: url(img/pseudo-form.png);
    background-size: cover;
    position: absolute;
    top: 325px;
    right: 1191px;
}

