* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #191919;
    color: #fff;
}


.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 26px auto;
    max-width: 1340px;
    padding: 0 20px;
    min-height: 67px;

}

.logo {
    max-height: 33px;
    max-width: 160px;
}

.navigation {
    font-size: 17px;
    line-height: 1.58824;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

a {
    text-decoration: none;
    color: #fff;

}

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1340px;
    padding: 40px 20px;
}

.image {
    border-radius: 12px;
    max-height: 873px;
    min-width: 650px;
}

.text-icons-wrapper {
    margin: auto 64px 130px 60px;
}

h1, .next {
    font-size: 70px;
    letter-spacing: 0.05em;
    line-height: 1.17333;
    font-weight: 400;
    color: #fff;
}

.level {
    font-weight: 700;
    font-size: 80px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #fff;
}

.listen {
    padding-top: 90px;
}

ul {
    margin: 16px 0;
    list-style-type: none;
    display: flex;
    gap: 17px;
}



.text-button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    max-width: 1340px;
    padding: 100px 20px 40px 20px;
}

h2 {
    font-weight: 400;
    font-size: 64px;
    line-height: 1.2375;
    letter-spacing: 0.05em;
    color: #fff;
    margin-bottom: 26px;
}

button {
    height: 51px;
    border-radius: 6px;
    background: #118da8;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #fff;
    padding: 12px 20px;
    display: flex;
    align-self: center;
    transition: 0.2s;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    margin: 0 auto;
    max-width: 1340px;
    padding: 0 20px 160px 20px;
}

.card-wrapper {
    background: #000;
    border-radius: 32px;
    padding: 40px 40px;
    display: flex;
    gap: 53px;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.info-wrapper h3 {
    width: 100%;
    max-width: 676px;
}

.info-wrapper span {
    border-radius: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    background-color: #191919;
    padding: 0 16px;
}

small {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #118da8;
}

h3 {
    font-weight: 400;
    font-size: 64px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #fff;
}

p {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
}

.info-wrapper button {
    display: flex;
    align-self: flex-start;
}

.author-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    max-width: 1340px;
    padding: 100px 20px;
}

.author-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 60px 147px 0;
}


.arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 112px;
    border-radius: 400px;
    background: #118da8;
    text-decoration: none;
    transition: 0.2s;
}

.arrow img {
    width: 108px;
    height: 64px;
}

.author-text-wrapper span {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #118da8;
    padding-top: 20px;
}

.author-text-wrapper p {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
}

.author-wrapper h3 {
    padding-bottom: 28px;
}

.paragraph {
    padding-bottom: 33px;
}

.author {
    border-radius: 12px;
    max-width: 100%;
    height: auto;
}

.form-text-wrapper {
    background-color: #000;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.form-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1340px;
    padding: 100px 20px;
}

.form-text-wrapper span {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #118da8;
}

.text-wrapper h3 {
    font-weight: 400;
    font-size: 72px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #fff;
}

.text-wrapper {
    margin-bottom: 57px;
    padding: 59px 151px 86px 60px;
    max-width: 642px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    margin: 60px 60px 75px 76px;
    gap: 20px;
    max-width: 522px;
    width: 100%;
}

form input {
    background-color: #191919;
    border: 1px solid #191919;
    border-radius: 6px;
    max-width: 522px;
    width: 100%;
    min-height: 82px;
    display: flex;
    align-self: stretch;
}

::placeholder {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.7);
    padding: 26px 0 27px 19px;
}

.form-text-wrapper button {
    display: flex;
    align-self: flex-start;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.92;
    color: rgba(255, 255, 255, 0.7);
}

.blocks-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px;
    width: 100%;
    margin: 0 auto;
    max-width: 1340px;
    padding: 100px 20px;
}

.label {
    background: #000;
    border-radius: 32px;
    max-width: 423px;
    width: 100%;
    padding: 54px 63px 51px 50px;
}

.label h4 {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;
    padding-top: 21px;
}

.label p {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 19px;
}

.footer-wrapper div nav ul {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 0;

}

.footer-wrapper div nav {
    min-width: 179px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}


.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    max-width: 1340px;
    padding: 100px 20px;
    gap: 16px;
}

.logo-social {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 447px;
    width: 100%;
}

.footer-wrapper ul {
    margin-top: 0;
    display: flex;
    gap: 17px;
}

.nav a:hover {
    text-decoration: none;
    color: #118da8;
    transition: color 0.6s;
    cursor: pointer;
}

.nav a {
    transition: 0.2s;
}

.footer-wrapper ul li img:hover, .listen ul li img:hover, .logo-social ul li img:hover {
    transform: translateY(-5px);
    transition: transform 0.6s;
    cursor: pointer;
}

.footer-wrapper ul li img, .listen ul li img, .logo-social ul li img:hover {
    transition: 0.2s;
}

button:hover {
    background: none;
    border: 2px solid #118da8;
    border-radius: 6px;
    transition: background 0.6s;
    cursor: pointer;
}

.arrow:hover {
    transform: rotate(90deg);
    transition: transform 0.6s;
    cursor: pointer;
}

input:focus {
    outline: 1px solid #454444;
    cursor: pointer;
}

.main-image{
    position: relative;
}

.main-image::before {
    content: "";
    display: inline-block;
    width: 68px;
    height: 74px;
    background-image: url(img/pseudo-hero.png);
    background-size: cover;
    position: absolute;
    top: -26px;
    right: 608px;
}

.next {
    position: relative;
}

.next::after {
    content: "";
    display: inline-block;
    width: 160px;
    height: 104px;
    background-image: url(img/line.png);
    background-size: cover;
    position: absolute;
    right: -18px;
}

.form-text-wrapper::before {
    content: "";
    display: inline-block;
    width: 147px;
    height: 91px;
    background-image: url(img/pseudo-form.png);
    background-size: cover;
    position: absolute;
    top: 83%;
    right: 92%;
}

.hamburger-menu {
    display: none;
}


.footer-wrapper div{
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 1024px) {
    .hamburger-menu {
        display: flex;
    }

    .head nav {
        display: none;
    }

    #menu__toggle {
        opacity: 0;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 47px;
        right: 21px;

        width: 36px;
        height: 24px;

        cursor: pointer;
        z-index: 1001;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        border-radius: 3px;
    }

    .menu__btn > span::before {
        content: '';
        top: -12px;
    }
    .menu__btn > span::after{
        content: '';
        top: 12px;
    }

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: 100%;

        width: 300px;
        height: 100%;

        margin: 0;
        padding: 80px 0;

        list-style: none;
        text-align: center;

        background-color: #191919;;
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);

        z-index: 1000;
    }

    .menu__item{
        display: block;
        padding: 12px 24px;
        color: #333;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }

    .menu__item:hover{
        background-color: #333;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: calc(100% - 300px);
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        transition: .25s;
    }

    .menu__box {
        transition-duration: .25s;
    }

    .menu__item {
        transition-duration: .25s;
    }

    .hero {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 60px 20px;
    }

    .text-icons-wrapper {
        margin: 60px 162px 0 40px;
    }

    ul {
        margin: 16px 0 0 0 ;
    }

    .text-button-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 100px 195px 60px 60px;
    }

    button {
        display: flex;
        align-self: start;
    }

    .card-wrapper{
        display: flex;
        flex-direction: column;
        padding: 40px 40px;
        margin: 0 auto;
        gap: 40px;

    }

    .info-wrapper small{
        padding-top: 48px;
        padding-bottom: 18px;
    }

    .info-wrapper h3{
        padding-bottom: 28px;
    }

    .info-wrapper p{
        padding-bottom: 18px;
    }

    .author-wrapper{
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
        padding: 100px 60px;
        gap: 60px;
    }


    .author-text-wrapper{
        display: flex;
        gap: 20px;
        margin: 0;
    }

    .form-text-wrapper {
        display: flex;
        flex-direction: column;
    }

    .text-wrapper{
        margin: 0;
        padding: 60px 171px 86px 40px;
    }

    form{
        margin: 0;
        padding: 0 40px 60px 40px;
        display: flex;
        align-self: center;
        max-width: 728px;
    }
    form input {
        max-width: 648px;
    }

    .form-text-wrapper::before{
        top: 90%;
        right: -4%;
        transform: rotate(-45deg);
    }

    .label{
        max-width: 356px;
        min-height: 320px;
        padding: 53px 21px 51px 40px;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
    }

    .footer-wrapper{
        gap: 129px;
    }

    .footer-wrapper div{
        gap: 10px;
    }

    .form-container {
        overflow: hidden;
    }
}